-e .
asn1crypto==0.22.0
boto3==1.4.4
botocore==1.5.63
cffi==1.10.0
configparser==3.5.0
coverage==4.3.4
cryptography==1.9
docutils==0.13.1
enum34==1.1.6
flake8==3.3.0
funcsigs==1.0.2
futures==3.1.1
idna==2.5
ipaddress==1.0.18
jmespath==0.9.3
kmsauth==0.2.0
marshmallow==2.13.5
mccabe==0.6.1
mock==2.0.0
packaging==16.8
pbr==3.0.1
py==1.4.32
pyasn1==0.2.2
pycodestyle==2.3.1
pycparser==2.17
pyflakes==1.5.0
pyparsing==2.1.10
pytest==3.0.6
pytest-mock==1.6.0
python-dateutil==2.6.0
s3transfer==0.1.10
six==1.10.0
