-e .
attrs==20.1.0
boto3==1.14.47
botocore==1.17.47
cffi==1.14.2
coverage==5.2.1
cryptography==2.9.2
docutils==0.15.2
flake8==3.8.3
iniconfig==1.0.1
ipaddress==1.0.23
jmespath==0.10.0
kmsauth==0.6.0
marshmallow==2.19.2
mccabe==0.6.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.0.1
pytest-mock==3.3.0
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.15.0
toml==0.10.1
urllib3==1.26.5
